{% extends 'MDBAssetBundle::layout.html.twig' %}

{% block content %}
<form class="form-horizontal" action="{{ path('mdb_asset_status_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input class="btn" type="submit" value="Create" />
    <a class="btn btn-danger" href="{{ path('mdb_asset_asset_index') }}">Cancel</a>
</form>
{% endblock %}

