<table class="span12 table table-bordered table-striped">
    <thead>
        <tr>
            <th>Reference ID</th>
            <th>Name</th>

            <th>Description</th>
            <th>Category</th>

        </tr>
    </thead>
    <tbody>
        {{ tree | raw }}
    </tbody>
</table>
