<table>
    <thead>
    </thead>
    <tbody>
        {% for asset in assets %}
            <tr>
                <td>
                    {{ asset.name }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
